################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DataCompare/bin/Debug/DataCompare.pdb
/DataCompare/bin/Debug/DataCompare.exe
/DataCompare/bin/Debug/DataCompare.exe.config
