<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="highSQLConnect" value="Server=wh-guizw;Database=fy_erp306_jc;User Id=sa;Password=95938;"/>
    <add key="lowSQLConnect" value="Server=wh-guizw;Database=yx_erp252;User Id=sa;Password=95938;"/>
    <add key="CompareTable" value="cg_CgPlan,p_Product,p_ProductType,p_Provider,p_Provider2Type,p_Provider2Unit,p_ProviderBanks,p_ProviderType" />
  </appSettings>
</configuration>